<form method="post" action="{{ path('app_learning_resource_delete', {'id': learning_resource.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ learning_resource.id) }}">
    <button class="btn">Delete</button>
</form>