{% extends 'base.html.twig' %}

{% block title %}New Learning Resource{% endblock %}

{% block body %}
    <h1>Create new Learning Resource</h1>

    {{ include('learning_resource/_form.html.twig') }}

    <a href="{{ path('app_learning_resource_index') }}">Back to list</a>
{% endblock %}